# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# OS
.DS_Store

# Python packaging
build/
dist/
*.egg-info/

# IDE
.idea/
.vscode/

# Data / runs
runs/
wandb/
*.h5
*.pt
*.jsonl

